div.code-toolbar > .toolbar {
	opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar > .toolbar {
	opacity: 1;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
	color: white;
}

body {
/*	background: #2d2d2d;
color: #fff;*/
}

.wrapper {
	display: flex;
	/*align-items: flex-start;*/
	justify-content: center;
	/*margin: 0 auto;*/
	/*width: 90%;*/
	/*margin-right: 0%;*/
}

.code-container {
	width: min-content;
	/*width: 1000px;*/
	/*filter: drop-shadow(0px 5px 10px #000000);*/
/*	background: #000;
	border: 20px solid black;
	border-width: 20px 30px;
	border-radius: 5px;*/
}

.colors-container {
	width: 300px;
	margin: 0 2%;
/*	position: sticky;
position: -webkit-sticky;*/
top: 0;
/*text-align: center;*/
}

.colors-container label {
	display: block;
}

body {
	background: var(--background-color);
	color: var(--text-color);
	font-family: 'Bitter', serif;
}

.color-selector {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.color-selector label {
	width: 100%;
	font-size: 16px;
}

input {
	margin: 4px;
	padding: 0;
	border: 0;
	height: 34px;
	border-radius: 3px;
}

input[type=text] {
	background: var(--background-color);
	color: var(--text-color);
	filter: contrast(1.1);
	font-size: 18px;
	font-family: var(--code-font);
	padding-left: 10px;
}

input[type=color] {
	background-color: #777777;
	cursor: pointer;
}

input[type=color]:hover {
	background-color: white;
}

button {
	padding: 10px;
	border: 2px solid var(--text-color);
	background: inherit;
	/*background: var(--background-color);*/
	color: var(--text-color);
	filter: contrast(1.1);
	border-radius: 3px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

button:hover {
	border: 2px solid var(--keyword-color);
	color: var(--keyword-color);
}

button:hover svg {
	fill: var(--keyword-color);
}

.export-button {
	margin-left: 20px;
}

select, option {
	color: var(--text-color);
	background: var(--background-color);
	padding: 5px 10px;
	border-radius: 3px;
	font-weight: bold;
}

option {
	height: 10px;
	font-weight: normal;
}

a {
	color: var(--keyword-color);
}

svg {
	fill: var(--text-color);
}

.color-theme {
	margin-bottom: 40px;
}

.jam {
	height: 32px;
	width: 32px;
}

.jam-24 {
	height: 24px;
	width: 24px;
}

.jam-16 {
	height: 16px;
	width: 16px;
}

.toggle-container {
	cursor: pointer;
}

.toggle-container .show-color {
	float: right;
}

.toggle-container .show-color:hover {
	filter: brightness(1.5);
}

.end-wrapper {
	max-width: 1000px;
	margin: auto;
	font-size: 20px;
}

.end-wrapper label {
	display: block;
}

.export-wrapper {
	padding: 50px;
	/*filter: drop-shadow(0 0 5px #000);*/
	/*box-shadow: 5px 5px 10px #000;*/
}

.menu-container {
	margin: auto;
	text-align: center;
}

.menu-container > * {
	margin: 20px;
}

.download-container {
	margin-top: 30px;
	width: 420px;
	margin: auto;
}