RewriteEngine On
RewriteCond %{HTTP_HOST} ^codethemebuilder.com [NC]
RewriteRule ^(.*)$ https://www.codethemebuilder.com/$1 [L,R=301]

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests;"